<div class="container relative z-10 flex items-center p-6 mx-auto md:px-12 xl:py-20">
  <div class="hero min-h-screen rounded-md " style="background-image: url(/assets/grass_photo.jpg);">
    <div class="hero-overlay bg-opacity-50 rounded-md"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-xl">
        <h1 class="mb-5 text-4xl font-bold">こんにちは！</h1>
        <p class="mb-10 text-2xl">生やした草そのままにしていませんか？<br>
          今すぐ刈り取って山にしてみましょう www</p>
        <div class="mx-auto">
          <div class="flex flex-col w-full border-opacity-50">
            <div class="grid place-items-center">
              <%= link_to "今すぐ草を刈る", new_contribution_path, class: "btn btn-primary btn-wide"%>
            </div>
            <div class="divider"></div>
            <div class="grid place-items-center">
              <%= link_to "山を覗きに行く", contributions_path, class: "btn btn-secondry"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>