<div class="container relative z-10 flex items-center px-6 py-32 mx-auto md:px-12 xl:py-40">
  <div class="relative z-10 flex flex-col items-center w-full">
    <h1 class="mt-4 font-extrabold leading-tight text-center text-7xl sm:text-8xl">
        Let's 草刈り
    </h1>
    <%= link_to "Start Now", new_contribution_path, class: "btn btn-wide mt-8" %>
  </div>
</div>