<div class="card w-96 bg-neutral shadow-xl">
  <div class="card-body">
    <h3 class="card-title"><%= contribution.contribution_number %></h3>
    <p><%= contribution.mountain.name %></p>
    <p><%= contribution.created_at.to_date %></p>
  </div>
  <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
</div>