<% if flash[:notice] %>
  <div class="alert alert-success shadow-lg" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-error shadow-lg" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>