<footer class="footer footer-center p-4 bg-base-100 text-base-content">
  <div>
    <ul class="flex space-x-8">
      <li>
        <%= link_to '利用規約', terms_path %>
      </li>
      <li>
        <%= link_to 'プライバシーポリシー', privacy_path %>
      </li>
      <li>
        <%= link_to 'お問合せ', 'https://forms.gle/W2TdD1rjFnEtGTiH7' %>
      </li>
    </ul>
  </div>
  <div>
    <p class="text-3px md:text-base">Copyright © 2023 - All right reserved by KUSAKARI YAMAO</p>
  </div>
</footer>
