<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <div>
    <ul class="flex space-x-8">
      <li>
        <%= link_to '利用規約', '#' %>
      </li>
      <li>
        <%= link_to 'プライバシーポリシー', '#' %>
      </li>
      <li>
        <%= link_to 'お問合せ', '#' %>
      </li>
    </ul>
  </div>
  <div>
    <p>Copyright © 2023 - All right reserved by KUSAKARI YAMAO</p>
  </div>
</footer>
