<div class="navbar bg-primary text-primary-content px-3 drop-shadow-xl">
  <div class="flex-1">
    <%= link_to '草刈山雄（仮）', root_path, class:"btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="navbar-end">
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>About</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <%= current_user.nickname%>
      <%= link_to "ログアウト", destroy_user_session_path, data:{ turbo_method: :delete }, class:"btn" %>
    <% else %>
      <%= button_to "ログイン", user_github_omniauth_authorize_path, method: :post, data: { turbo: false }, class:"btn" %>
    <% end %>
  </div>
</div>