<div class="navbar bg-primary text-primary-content px-3 drop-shadow-xl">
  <div class="flex-1">
    <%= link_to '草刈山雄（仮）', root_path, class:"btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="navbar-end">
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>About</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn">Get started</a>
  </div>
</div>