<% offset = (@user_contribution_ranks.current_page - 1) * @user_contribution_ranks.limit_value %>
<tr class="hover">
  <th><%= user_contribution_rank_counter + 1 + offset %> 位</th>
  <td>
    <%= link_to "https://github.com/#{user_contribution_rank.user.nickname}", target: "_blank", data: { external_link: "true" } , class:"link link-hover" do %>
      <% user_contribution_rank.user.nickname %>
    <% end %>
  </td>
  <% contribution = user_contribution_rank %>
  <% if contribution.present?%>
    <td><%= contribution.contribution_number if contribution.contribution_number.present? %> 草</td>
    <td><%= contribution.mountain&.name %></td>
  <% else %>
    <td></td>
    <td></td>
  <% end %>
</tr>