<tr class="hover">
  <th><%= user_contribution_rank_counter + 1 %> 位</th>
  <td><%= user_contribution_rank[0].nickname %></td>
  <td><%= user_contribution_rank[1].contribution_number %> 草</td>
  <td><%= user_contribution_rank[1].mountain.name %></td>
</tr>